body{
    background:rgba(230, 227, 227, 0.884)
}

p{
    color:rgba(53, 46, 46, 0);
}

.foto-principal{
    width: 200px;
    border: 5px dotted  rgb(175, 22, 22);
    border-radius: 50% 10% 30% 70%;
    margin:10px 20px 30px 40px;


}